header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    height: 100%;
    display: inline-block;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 14px 16px;
    display:inline-block;
}

.NPM{
        width: 60px;
        margin-right: 1rem;
}

.containernav {
    display: flex;
    flex-direction:inline;
}

.lupa {
    
        width: 20px;
        margin-right: 1rem;
}

.blackheart {
    width: 20px;
    margin-right: 1rem;
}

.form {
    display: flex;
    align-items: center;
    gap: 10px;
}

body {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
}

h1 {
    padding-top: 5%;
    font-size: 80px;
}

h2 {
    font-size: 26;
    transform: skew(9deg,0deg);
    font-style: italic;
    background-color: rgba(255, 204, 53, .4);
    
}

h3 {
    color: #ED1C24;
}

.highlight {
    text-align: left;
    padding-right: 50px;
}

.hexagon{
        width: 300px;
        height: auto;
        
}

.zero-configuration{
            width: 30px;
        margin-right: 1rem;

}

.team-management{
    
        width: 30px;
        margin-right: 1rem;
}

.npm-audit {
        width: 30px;
        margin-right: 1rem;
}

.familiar-features {
        width: 30px;
        margin-right: 1rem;
}

.column{
    height: 25%;
    margin: 0.5%;
    box-sizing:  border-box;
    border: none;
}

input {
    color: rgba(0, 0, 0, 0.05);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 600px;
    display:flex;
}

#button1 {
    background-color: #fb3e44;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#button2, #button3 {
    background-color: white;
    color: black;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(232, 217, 217, 3);
    height: 600px;
    font-family: "poppins";
}

#button4 {
    background-color: #fb3b49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);  
}


.section-2{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 600px;

} 

.section-3{
    display: flex;
    height: 400px;
    flex-direction: row;
}

#button5 {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    cursor: pointer;
} 

#button6 {
    background-color: #333;
    color: white;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    cursor: pointer;
    padding: 10 20;
    align-items: center;
} 

.container{
    display: flex;
}
@import url("https://fonts.googleapis.com/css?family=Poppins");
